var Filter = {
  toFixed:function(val) {
    var yuan = (val / 100.0)*100;
    return yuan.toFixed(2);
  },
  subString:function (val) {
    var sub = val.substring(0,10);
    return sub;
  },
  toFixedT: function (val) {
    var yuan = val / 100.0;
    return yuan.toFixed(2);
  },
}

module.exports = {
  toFixed: Filter.toFixed,
  subString: Filter.subString,
  toFixedT: Filter.toFixedT,
}